* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	font-family: sans-serif;
}

h1, h2, h3, h4 {
	text-align: center;
	font-family: serif;
	
}

h2 {
	font-size: 175%;
}

h4 {
	font-size: 125%;
	

}

.mContent {
	/*background-color: rgba(0, 200, 0, .4);
	position: relative;*/
	
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 2em;

}

.mContent > div:last-of-type {
	clear: left;
}

.item_menu {
	float: left;
	margin-right: 2.5%;
	margin-top: 20px;
	/*padding: 8px;*/
	width: 30%;
	height: 300px;
	border: 2px;
	border-style: solid;
	border-color: black;
	overflow-y: auto;
	background-color: rgba(125, 125, 125, 0.4);
}

.item_menu:first-of-type {
	margin-left: 2.5%;
}

.item_menu > h4 {
	text-align: center;
	padding-right: 8px;
	width: 80px;
	float: right;
	border-right: 0px;
	border-top: 0px;
	border-left: 2px;
	border-bottom: 2px;
	border-style: solid;
	border-color: black;
}

.item_menu:nth-of-type(1) > h4 {
	background-color: rgba(150, 0, 0, 0.4);
}

.item_menu:nth-of-type(2) > h4 {
	background-color: rgba(255, 0, 0, 0.9);
	color: white;
}

.item_menu:nth-of-type(3) > h4 {
	background-color: rgba(200, 100, 0, 0.4);
}

.item_menu > p {
	padding: 8px;
	clear: right;
}



.mHead {
	


}



/*.item_menu:nth-of-type(3) {
	margin-right: 0px;
	background-color: blue;

}*/




@media (max-width: 991px) {

	.mContent {
		/*background-color: rgba(0, 200, 0, .4);*/
		/*position: relative;*/
		
		width: 80%;
		margin-right: auto;
		margin-left: auto;
	}

	.item_menu {
		float: left;
		margin-right: 5%;
		margin-top: 20px;
		/*padding: 8px;*/
		width: 42.5%;
		height: 300px;
		border: 2px;
		border-style: solid;
		border-color: black;
		overflow-y: auto;
	}

	.item_menu:nth-of-type(3) {
		
		clear: left;
		width: 90%;
		/*background-color: blue;*/
		margin-left: 5%;
		margin-right: 5%;

	}

	.item_menu:first-of-type {
		margin-left: 5%;
		/*background-color: red;*/

	}

	

}

@media (max-widht: 767px and min-widht: 992px) {

}

/*@media (orientation: portrait) {
	.mContent {
	background-color: rgba(200, 0, 0, .5);
	border: 2px;
	border-style: solid;
	border-radius: 5px;
	width: 60%;
	margin-right: 20%;
	margin-left: 20%;
	min-height: 100px;
	max-height: 400px;
	min-width: 400px;

	text-align: center;
	max-width: 1200px;
	}
}*/

@media (max-width: 766px) {

	.mContent {
	/*background-color: rgba(0, 0, 215, .5);
	border: 2px;
	border-style: solid;
	border-radius: 5px;
	width: 50%;
	margin-right: 25%;
	margin-left: 25%;
	min-height: 100px;
	max-height: 600px;
	min-width: 200px;

	text-align: center;
	max-width: 1200px;*/
	}

	.item_menu {
		clear: left;
		margin-right: 5%;
		margin-left: 5%;
		margin-top: 20px;
		/*padding: 8px;*/
		width: 90%;
		height: 300px;
		border: 2px;
		border-style: solid;
		border-color: black;
		overflow-y: auto;
	

	}
}
